.btn-main {
  padding: 10px 20px;
  background-color: var(--main3);
  border: 2px solid var(--main3) !important;
  color: var(--white) !important;
  border: none;
  border-radius: 0px;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  font-weight: 800;
  transition: all 0.3s linear;
  span {
    color: var(--white) !important;
    vertical-align: middle;
    display: inline-block;
  }
  svg {
    display: flex;
    vertical-align: middle;
    path {
      fill: var(--white);
    }
  }
  &:hover {
    background-color: var(--main2);
    border-color: var(--main2) !important;
    color: var(--white) !important;
  }
}

.btn-rev {
  padding: 10px 20px;
  border: 2px solid var(--main3) !important;
  color: var(--main3);
  border: none;
  border-radius: 0px;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  &:hover {
    background-color: var(--main3);
    color: var(--white);
  }
}
